* {
    padding: 0;
    margin: 0;
    border: 0px solid red;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border: 0px;

}

/* Top bar */
#Intro {
    top: 0;
    position: fixed;
    background-color: black;
    color: white;
    height: 40px;
    width: 100%;
    z-index: 999999;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;

}

/* Nav bar */
.nav-bar {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 28%, rgba(255, 255, 255, 0) 100%);
    margin-top: 40px;
}

.search-icon {
    padding-left: 10px;
}




/* main - page */
.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    position: relative;
    background: url(./images/main-big.png) no-repeat center / cover;
}

.main-page div {
    max-width: 500px;
    margin: 10%;
    color: white
}

.main-page h1 {
    margin-bottom: 20px;
}

.main-page p,
button {
    margin-top: 10px;
}

/* feature section */
.feature-grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 60vh;

}

.feature-grid div {
    min-width: 33.33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.content p {

    margin: 0 50px 2rem 50px;
}

.content h3 {

    margin: 0 50px 2rem 50px;
}

.feature-1 {
    background: url(./images/feature-1.png) no-repeat center / cover;
}

.feature-2 {
    background: url(./images/feature-2.png) no-repeat center / cover;
}

.feature-3 {
    background: url(./images/feature-3.png) no-repeat center / cover;
}

/* slider */
.feedback-container {
    height: fit-content;
}

.feedback {
    padding: 10% 20%;
    text-align: center;
}

.arrow {
    height: 30px;
    widows: 30px;
}

/* footer */
.footer-container {
    height: fit-content;
    background-color: black;
    color: white;
    display: flex;
}

.simple-form {
    display: flex;
    padding-bottom: 1.25rem;
}

.simple-form input {
    margin: 0 .25rem;
    min-width: 125px;
    border: 1px solid #eee;
    padding: 10px;
    background-color: black;
    color: white;
    overflow: hidden;
}

.form-btn {
    padding: 10px;
    border: 1px solid #eee;
    background-color: black;
    color: white;
}

.main-btn {
    border: 1px solid #eee;
    background-color: black;
    color: white;
    padding: 10px;
}

.main-btn-ear {
    border: 1px solid #eee;
    background: none;
    color: white;
    padding: 10px;
}

.social-icon {
    padding: 10px
}

.footer-container {
    padding: 20px;

}

.footer {
    background-color: black;
}

.my-footer {
    padding: 100px;
}

.child-img {
    position: relative;
    top: -80px;
}

.footer-img img {
    float: left;
    bottom: -25px;
    margin-right: 20px;


}

.credit {
    padding-bottom: 100px;
}

.payment {
    padding: 20px;
    width: fit-content;
}

/* reposiveness */
@media screen and (max-width: 1000px) {
    .footer-img {
        display: none;
    }
}


@media screen and (max-width: 600px) {
    .feature-grid div {
        min-width: 100%;
        height: 580px;
    }

    .feature-grid {
        flex-wrap: wrap;
    }

    .main-page {
        justify-content: flex-end;
        background: url(./images/main-small.png) no-repeat center / cover;
    }

    .arrow {
        height: 15px;
        widows: 15px;
    }

    .footer {
        flex-direction: column;
        padding: 10%;

    }

    .footer-title {
        text-align: center;
        margin: 15%
    }

    .main-content p {
        display: none;
    }

    .main-btn-ear {
        display: none;
    }

    .simple-form input {
        min-width: 40%;
    }

    .simple-form button {
        min-width: 40%;
    }


}